  <% include ./partials/header %>
<link rel="stylesheet" href="/stylesheet/Fefe.css">
<div class="container text-align-center" style="margin-top:5%">
  <div class="row align-center ">
    <div class="col-1"></div>
    <div class="col-10">
    <form  id="realform"action="/register" method="POST"></form>
      <button class="btn btn-secondary" style="width:auto;margin-bottom:1px" type ="button" data-toggle="collapse" data-target="#regisStd">
        <label>ข้อมูลส่วนตัวของนักศึกษา</label>
      </button>
      <div class="card">
        <div id="regisStd" class="collapse show">
          <div class="card-body">
            <form class="form-in" style="background-color:#F7F7F7">
            <div class="form-group row">
              <div class="col-sm-12 col-from-label text-center">
                <img src="<%= tinfo[0].picPhoto %>" alt="studentPic" style="width:256px;height:256px">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-1 col-form-label text-nowrap" style="margin-right:30px">รหัสนักศึกษา:</label>
              <div class="col-sm-4">
                <input form ="realform" type="text" class="form-control" disabled name='stdID' value="<%= tinfo[0].stdID %>">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-1 col-form-label text-nowrap" style="margin-right:30px" >คำนำหน้าชื่อ:</label>
              <div class="col-sm-2">
                <select form="realform" class="form-control" name='titlenameTH' disabled>
                  <option value="นาย">นาย</option>
                  <option value="นาง">นาง</option>
                  <option value="นางสาว">นางสาว</option>
                </select>
              </div>
              <label class="col-sm-1 col-form-label text-nowrap" >Title:</label>
              <div class="col-sm-2">
                <select form="realform" class="form-control" name='titlenameEN' disabled>
                  <option value="Mr.">Mr.</option>
                  <option value="Mrs.">Mrs.</option>
                  <option value="Ms.">Ms.</option>
                </select>
              </div>
              <label class="col-sm-1 col-form-label text-nowrap">เพศ:</label>
              <div class="col-sm-2">
                <select form="realform"  class="form-control" name='gender' disabled>
                  <option value="ชาย">ชาย</option><option value="หญิง">หญิง</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-1 col-form-label text-nowrap" >ชื่อ:</label>
              <div class="col-sm-4">
                <input form ="realform" type="text" class="form-control" disabled name="firstnameTH" value="<%= tinfo[0].firstnameTH %>">
              </div>
              <label class="col-sm-1 col-form-label text-nowrap" >นามสกุล:</label>
              <div class="col-sm-5">
                <input form ="realform" type="text" class="form-control" disabled name="lastnameTH" value="<%= tinfo[0].lastnameTH %>">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-1 col-form-label text-nowrap" >Name:</label>
              <div class="col-sm-4">
                <input form ="realform" type="text" class="form-control" disabled name="firstnameEN" value="<%= tinfo[0].firstnameEN %>" >
              </div>
              <label class="col-sm-1 col-form-label text-nowrap" >Surname:</label>
              <div class="col-sm-5">
                <input form ="realform" type="text" class="form-control" disabled name="lastnameEN" value="<%= tinfo[0].lastnameEN %>">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-1 col-form-label text-nowrap">ภาควิชา:</label>
              <div class="col-sm-3">
                <select form="realform" class="form-control" name="department" disabled value="<%= tinfo[0].department %>">
                  <option value="CE">วิศวกรรมโยธา</option><option value="CHME">วิศวกรรมเคมี</option>
                  <option value="CPE">วิศวกรรมคอมพิวเตอร์</option><option value="ME">วิศวกรรมเครื่องกล</option>
                  <option value="CHE">เคมี</option><option value="PHY">ฟิสิกส์</option>
                  <option value="MIC">จุลชีววิทยา</option><option value="MATH">คณิตศาสตร์</option>
                </select>
              </div>
              <label class="col-sm-1 col-form-label text-nowrap">sec:</label>
              <div class="col-sm-2">
                <select form="realform" class="form-control" name="curriculumSec" disabled value="<%= tinfo[0].curriculumSec %>">
                  <option value="A">A</option><option value="B">B</option>
                  <option value="C">C</option><option value="D">D</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label text-nowrap" >รหัสบัตรประชาชน:</label>
              <div class="col-sm-3">
                <input form ="realform" type="text" class="form-control" disabled name="citizenID" value="<%= tinfo[0].citizenID %>">
              </div>
              <label class="col-sm-1 col-form-label text-nowrap" >อีเมลล์:</label>
              <div class="col-sm-5">
                <input form ="realform" type="email" class="form-control" disabled name="email" value="<%= tinfo[0].email %>">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label text-nowrap" >เบอร์โทรศัพท์มือถือ:</label>
              <div class="col-sm-2">
                <input form ="realform" type="tel" class="form-control" disabled name="tel" value="<%= tinfo[0].tel %>">
              </div>
              <label class="col-sm-1 col-form-label text-nowrap" >หมู่เลือด:</label>
              <div class="col-sm-2">
                <select form="realform"  class="form-control" disabled name="bloodtype" value="<%= tinfo[0].bloodtype %>">
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="O">O</option>
                  <option value="AB">AB</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label text-nowrap col-sm-2" for="date" >วัน/เดือน/ปี เกิด:</label>
              <div class="col-sm-2">
                  <input id="datetest" form ="realform" class="form-control" name="date" disabled type="text" value="<%= tinfo[0].DOB %>">
              </div>
              <label class="col-form-label text-nowrap col-sm-2" >สถานภาพการสมรส:</label>
              <div class="col-sm-2">
                  <select form="realform"  type="text" class="form-control" name="marital" disabled value="<%= tinfo[0].marital %>">
                    <option value="โสด">โสด</option><option value="แต่งงาน">แต่งงาน</option>
                  </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label text-nowrap col-sm-1">สัญชาติ:</label>
              <div class="col-sm-2">
                  <input form ="realform" class="form-control" disabled name="nationality" value="<%= tinfo[0].nationality %>">
              </div>
              <label class="col-form-label text-nowrap col-sm-1" style="padding-right:1px">เชื้อชาติ:</label>
              <div class="col-sm-2">
                  <input form ="realform" class="form-control" disabled name="race" value="<%= tinfo[0].race %>">
              </div>
              <label class="col-form-label text-nowrap col-sm-1"  >ศาสนา:</label>
              <div class="col-sm-2">
                  <input form ="realform" class="form-control" disabled name="religion" value="<%= tinfo[0].religion %>">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-form-label text-nowrap col-sm-1" style="margin-right:19px">จำนวนพี่น้อง:</label>
              <div class="col-sm-1">
                <input form ="realform" class="form-control" disabled name="NoSiblings" value="<%= tinfo[0].NoSiblings %>">
              </div>
              <label class="col-form-label text-nowrap col-sm-1" style="margin-right:19px" value="<%= tinfo[0].stdID %>">เป็นบุตรคนที่:</label>
              <div class="col-sm-1">
                <input form ="realform" class="form-control" disabled name="sonNo" value="<%= tinfo[0].sonNo %>">
              </div>
              <label class="col-form-label text-nowrap col-sm-2" style="margin-right:22px">ความสัมพันธ์ของพ่อแม่:</label>
              <div class="col-sm-2">
                <input form ="realform" class="form-control" disabled name="maritalStatofMD" value="<%= tinfo[0].maritalStatofMD %>">
              </div>
            </div>
            <div class="row form-group">
              <label class="col-form-label text-nowrap col-sm-1" >Program:</label>
              <div class="col-sm-3">
                  <select form="realform"  type="text" class="form-control" disabled name="program">
                    <option value="เรียนดี">เรียนดี</option><option value="AR">AR</option><option value="Admission">Admission</option>
                  </select>
              </div>
              <label class="col-form-label text-nowrap col-sm-2" >จบการศึกษาระดับ:</label>
              <div class="col-sm-3">
                  <select form="realform"  type="text" class="form-control" disabled name="recentGraduate">
                    <option value="มัธยมปลาย">มัธยมปลาย</option><option value=">ปวช.">ปวช.</option><option value="ปวส.">ปวส.</option>
                    <option value="ปริญญาตร">ปริญญาตรี</option><option value="ปริญญาโท">ปริญญาโท</option>
                  </select>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-form-label text-nowrap col-sm-2" style="margin-right:6px">สถาบันการศึกษาล่าสุด:</label>
              <div class="col-sm-4">
                <input form ="realform" class="form-control" disabled name="recentAcademy" value="<%= tinfo[0].recentAcademy %>">
              </div>
              <label class="col-form-label text-nowrap col-sm-1" style="margin-right:6px">เกรดเฉลี่ย:</label>
              <div class="col-sm-2">
                <input form ="realform" class="form-control" disabled name="recentGPAX" value="<%= tinfo[0].recentGPAX %>">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label text-nowrap col-sm-1" style="margin-right:16px">ประเภทที่พัก:</label>
              <div class="col-sm-4">
                <input form ="realform" class="form-control" disabled name="habitat" value="<%= tinfo[0].habitat %>">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label text-nowrap col-sm-1" style="margin-right:5px">ความพิการ:</label>
              <div class="col-sm-3" id="divDisability">
                <input form ="realform" class="form-control" disabled name="disability" value="<%= tinfo[0].disability %>">
              </div>

            </div>
            <div class="form-group row">
              <label class="col-form-label text-nowrap col-sm-1" style="margin-right:20px">โรคประจำตัว:</label>
              <div class="col-sm-3" id="divDisease">
                <input form ="realform" class="form-control" disabled name="disease" value="<%= tinfo[0].disease %>">
              </div>

            </div>
            <div class="form-group row">
                <label class="col-form-label text-nowrap col-sm-1" style="margin-right:38px">ประวัติการแพ้ยา:</label>
                <div class="col-sm-2" id="divAllergy">
                    <input form ="realform" class="form-control" disabled name="allergy" value="<%= tinfo[0].allergy %>">
                </div>

            </div>

            </form>
            <button class="btn" style="width:auto;margin-top:5px;margin-bottom:5px" type ="button" data-toggle="collapse" data-target="#addressRegis">
              <label>ที่อยู่ตามทะเบียน</label>
            </button>
            <div class="card">
            <div id="addressRegis" class="collapse show">
              <div class="card-body">
                <form class="form-in " style="background-color:#F7F7F7">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-nowrap" >บ้านเลขที่:</label>
                    <div class="col-sm-2">
                      <input id = "numhourse" form ="realform" type="text" class="form-control" disabled name="homeNORegis"  value="<%= tinfo[0].homeNORegis %>">
                    </div>
                    <label class="col-sm-1 col-form-label text-nowrap" >ซอย:</label>
                    <div class="col-sm-3">
                      <input id = "soi" form ="realform" type="text" class="form-control" disabled name="alleyRegis" value="<%= tinfo[0].alleyRegis %>">
                    </div>
                    <label class="col-sm-1 col-form-label text-nowrap" >ถนน:</label>
                    <div class="col-sm-3">
                      <input id = "road" form ="realform" type="text" class="form-control" disabled name="streetRegis" value="<%= tinfo[0].streetRegis %>">
                    </div>
                    <label class="col-sm-2 col-form-label text-nowrap" >แขวง/ตำบล:</label>
                    <div class="col-sm-2">
                      <input id = "province" form ="realform" type="text" class="form-control" disabled name="subdistrictRegis" value="<%= tinfo[0].subdistrictRegis %>">
                    </div>
                    <label class="col-sm-2 col-form-label text-nowrap" >เขต/อำเภอ:</label>
                    <div class="col-sm-2">
                      <input id = "aumper"  form ="realform" type="text" class="form-control" disabled name="districtRegis" value="<%= tinfo[0].districtRegis %>">
                    </div>
                    <label class="col-sm-1 col-form-label text-nowrap" >จังหวัด:</label>
                    <div class="col-sm-3">
                      <input id = "jungwad" form ="realform" type="text" class="form-control" disabled name="provienceRegis" value="<%= tinfo[0].provienceRegis %>">
                    </div>
                    <label class="col-sm-2 col-form-label text-nowrap" >รหัสไปรษณีย์:</label>
                    <div class="col-sm-2">
                      <input id = "postcode" form ="realform" type="text" class="form-control" disabled name="postcodeRegis" value="<%= tinfo[0].postcodeRegis %>">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
            <button class="btn" style="width:auto;margin-top:5px;margin-bottom:5px" type ="button" data-toggle="collapse" data-target="#addressCurrent">
              <label>ที่อยู่ปัจจุบัน</label>
            </button>
            <div class="card">
              <div id="addressCurrent" class="collapse show">
                <div class="card-body" >
                  <form  class="form-in " style="background-color:#F7F7F7">
                    
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-nowrap" >บ้านเลขที่:</label>
                        <div class="col-sm-2">
                          <input id = "nh" form ="realform" type="text" class="form-control" disabled name="homeNOCurrent">
                        </div>
                        <label class="col-sm-1 col-form-label text-nowrap" >ซอย:</label>
                        <div class="col-sm-3">
                          <input id = "s" form ="realform" type="text" class="form-control" disabled name="alleyCurrent">
                        </div>
                        <label class="col-sm-1 col-form-label text-nowrap" >ถนน:</label>
                        <div class="col-sm-3">
                          <input id = "r" form ="realform" type="text" class="form-control" disabled name="streetCurrent">
                        </div>
                        <label class="col-sm-2 col-form-label text-nowrap" >แขวง/ตำบล:</label>
                        <div class="col-sm-2">
                          <input id = "p" form ="realform" type="text" class="form-control" disabled name="subdistrictCurrent">
                        </div>
                        <label class="col-sm-2 col-form-label text-nowrap" >เขต/อำเภอ:</label>
                        <div class="col-sm-2">
                          <input id = "a" form ="realform" type="text" class="form-control" disabled name="districtCurrent">
                        </div>
                        <label class="col-sm-1 col-form-label text-nowrap" >จังหวัด:</label>
                        <div class="col-sm-3">
                          <input id = "j" form ="realform" type="text" class="form-control" disabled name="provienceCurrent">
                        </div>
                        <label class="col-sm-2 col-form-label text-nowrap" >รหัสไปรษณีย์:</label>
                        <div class="col-sm-2">
                          <input id = "pc" form ="realform" type="text" class="form-control" disabled name="postcodeCurrent">
                        </div>
                  </div>
                  </form>
                  <button type="submit" id ="btn1" class="btn btn-primary" onclick="changecommand()" align = "center">แก้ไข</button>
                  <button type="submit" id ="btn2" class="btn btn-success" style="visibility:hidden" onclick="changecommand2()" align = "center">เสร็จสิ้น</button><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-secondary" style="width:auto;margin-bottom:1px;margin-top:5px" type ="button" data-toggle="collapse" data-target="#regisDad">
        <label>ข้อมูลบิดา</label>
      </button>
      <div class="card">
        <div id="regisDad"class="collapse hide">
          <div class="card-body">
            <form class="form-in" style="background-color:#F7F7F7">
              <div class="form-group row">
                <label class="col-sm-1 col-form-label text-nowrap" style="margin-right:30px" >คำนำหน้าชื่อ:</label>
                <div class="col-sm-2">
                  <select form="realform" class="form-control" name="titlenameDad" disabled>
                    <option value="นาย">นาย</option>
                    <option value="นาง">นาง</option>
                    <option value="นางสาว">นางสาว</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-1 col-form-label text-nowrap" >ชื่อ:</label>
                <div class="col-sm-4">
                  <input form ="realform" type="text" class="form-control" disabled name="firstnameDad">
                </div>
                <label class="col-sm-1 col-form-label text-nowrap" >นามสกุล:</label>
                <div class="col-sm-5">
                  <input form ="realform" type="text" class="form-control" disabled name="lastnameDad">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label text-nowrap" >รหัสบัตรประชาชน:</label>
                <div class="col-sm-3">
                  <input form ="realform" type="text" class="form-control" disabled name="citizenIDDad">
                </div>
                <label class="col-sm-1 col-form-label text-nowrap" >อีเมลล์:</label>
                <div class="col-sm-5">
                  <input form ="realform" type="email" class="form-control" disabled name="emailDad">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label text-nowrap" >เบอร์โทรศัพท์มือถือ:</label>
                <div class="col-sm-2">
                  <input form ="realform" type="tel" class="form-control" disabled name="telDad">
                </div>
                <label class="col-form-label text-nowrap col-sm-2" for="date" >วัน/เดือน/ปี เกิด:</label>
                <div class="col-sm-2">
                    <input form ="realform" class="form-control" name="dateDad" disabled type="text">
                </div>
                <label class="col-sm-1 col-form-label text-nowrap" style="margin-right:8px">สถาณภาพ:</label>
                <div class="col-sm-2">
                  <select form="realform"  class="form-control" disabled name="statusDad">
                    <option value="มีชีวิต">มีชีวิต</option><option value="เสียชีวิต">เสียชีวิต</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-1 col-form-label text-nowrap" >อาชีพ:</label>
                <div class="col-sm-3">
                  <input form ="realform" type="text" class="form-control"disabled name="careerDad">
                </div>
                <label class="col-sm-1 col-form-label text-nowrap" >ตำแหน่ง:</label>
                <div class="col-sm-3">
                  <input form ="realform" type="text" class="form-control" disabled name="careerPosDad">
                </div>
                <label class="col-sm-1 col-form-label text-nowrap" >เงินเดือน:</label>
                <div class="col-sm-2">
                  <input form ="realform" type="text" class="form-control" disabled name="salaryDad">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-1 col-form-label text-nowrap" style="margin-right:25px" >สถานที่ทำงาน:</label>
                <div class="col-sm-5">
                  <input form ="realform" type="text" class="form-control" disabled name="workplaceNameDad">
                </div>
                <label class="col-sm-2 col-form-label text-nowrap" > เบอร์โทร ที่ทำงาน:</label>
                <div class="col-sm-2">
                  <input form ="realform" type="tel" class="form-control" disabled name="workplaceTelDad">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label text-nowrap col-sm-1">สัญชาติ:</label>
                <div class="col-sm-2">
                    <input form ="realform" class="form-control" disabled name="nationalityDad">
                </div>
                <label class="col-form-label text-nowrap col-sm-1" style="padding-right:1px">เชื้อชาติ:</label>
                <div class="col-sm-2">
                    <input form ="realform" class="form-control" disabled name="raceDad">
                </div>
                <label class="col-form-label text-nowrap col-sm-1"  >ศาสนา:</label>
                <div class="col-sm-2">
                    <input form ="realform" class="form-control" disabled name="religionDad">
                </div>
              </div>
            </form>
            <button class="btn" style="width:auto;margin-top:5px;margin-bottom:5px" type ="button" data-toggle="collapse" data-target="#addressRegisDad">
              <label>ที่อยู่ตามทะเบียน</label>
            </button>
            <div class="card">
            <div id="addressRegisDad" class="collapse show">
              <div class="card-body">
                <form class="form-in " style="background-color:#F7F7F7">
                  <div class="form-group row" style="margin-left:auto">
                    <div class="col-1-sm col-form-label text-nowrap">
                      <input id="cboxd" form ="realform" type="checkbox" style="margin-right:7px" onclick="copyd()">
                    </div>
                    <div class="col-5-sm" style="padding-left:10px;padding-right:10px;padding-top:5px">ที่อยู่เหมือนนักศึกษา</div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-nowrap" >บ้านเลขที่:</label>
                    <div class="col-sm-2">
                        <input id="nhd" form ="realform" type="text" class="form-control" disabled name="homeNODad">
                    </div>
                    <label class="col-sm-1 col-form-label text-nowrap" >ซอย:</label>
                    <div class="col-sm-3">
                        <input id="sd" form ="realform" type="text" class="form-control" disabled name="alleyDad">
                    </div>
                    <label class="col-sm-1 col-form-label text-nowrap" >ถนน:</label>
                    <div class="col-sm-3">
                        <input id="rd" form ="realform" type="text" class="form-control" disabled name="streetDad">
                    </div>
                    <label class="col-sm-2 col-form-label text-nowrap" >แขวง/ตำบล:</label>
                    <div class="col-sm-2">
                        <input id="pd" form ="realform" type="text" class="form-control" disabled name="subdistrictDad">
                    </div>
                    <label class="col-sm-2 col-form-label text-nowrap" >เขต/อำเภอ:</label>
                    <div class="col-sm-2">
                        <input id="ad" form ="realform" type="text" class="form-control" disabled name="districtDad">
                    </div>
                    <label class="col-sm-1 col-form-label text-nowrap" >จังหวัด:</label>
                    <div class="col-sm-3">
                        <input id="jd" form ="realform" type="text" class="form-control" disabled name="provienceDad">
                    </div>
                    <label class="col-sm-2 col-form-label text-nowrap" >รหัสไปรษณีย์:</label>
                    <div class="col-sm-2">
                        <input id="pcd" form ="realform" type="text" class="form-control" disabled name="postcodeDad">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-secondary" style="width:auto;margin-bottom:1px;margin-top:5px" type ="button" data-toggle="collapse" data-target="#regisMom">
        <label>ข้อมูลมารดา</label>
      </button>
      <div class="card">
        <div id="regisMom"class="collapse hide">
          <div class="card-body">
            <form class="form-in" style="background-color:#F7F7F7">
              <div class="form-group row">
                <label class="col-sm-1 col-form-label text-nowrap" style="margin-right:30px" >คำนำหน้าชื่อ:</label>
                <div class="col-sm-2">
                  <select form="realform" disabled class="form-control" name="titlenameMom">
                    <option value="นาย">นาย</option>
                    <option value="นาง">นาง</option>
                    <option value="นางสาว">นางสาว</option>
                  </select>
                </div>
              </div>
                  <div class="form-group row">
                    <label class="col-sm-1 col-form-label text-nowrap" >ชื่อ:</label>
                    <div class="col-sm-4">
                      <input form ="realform" type="text" class="form-control" disabled name="firstnameMom">
                    </div>
                    <label class="col-sm-1 col-form-label text-nowrap" >นามสกุล:</label>
                    <div class="col-sm-5">
                      <input form ="realform" type="text" class="form-control" disabled name="lastnameMom">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-nowrap" >รหัสบัตรประชาชน:</label>
                    <div class="col-sm-3">
                      <input form ="realform" type="text" class="form-control" disabled name="citizenIDMom">
                    </div>
                    <label class="col-sm-1 col-form-label text-nowrap" >อีเมลล์:</label>
                    <div class="col-sm-5">
                      <input form ="realform" type="email" class="form-control" disabled name="emailMom">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-nowrap" >เบอร์โทรศัพท์มือถือ:</label>
                    <div class="col-sm-2">
                      <input form ="realform" type="tel" class="form-control" disabled name="telMom">
                    </div>
                    <label class="col-form-label text-nowrap col-sm-2" for="date" >วัน/เดือน/ปี เกิด:</label>
                    <div class="col-sm-2">
                        <input form ="realform" class="form-control" name="dateMom" disabled type="text">
                    </div>
                    <label class="col-sm-1 col-form-label text-nowrap" style="margin-right:8px">สถาณภาพ:</label>
                    <div class="col-sm-2">
                      <select form="realform"  class="form-control" name="statusMom" disabled>
                        <option value="มีชีวิต">มีชีวิต</option><option value="เสียชีวิต">เสียชีวิต</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-1 col-form-label text-nowrap" >อาชีพ:</label>
                    <div class="col-sm-3">
                      <input form ="realform" type="text" class="form-control" disabled name="careerMom">
                    </div>
                    <label class="col-sm-1 col-form-label text-nowrap" >ตำแหน่ง:</label>
                    <div class="col-sm-3">
                      <input form ="realform" type="text" class="form-control" disabled name="careerPosMom">
                    </div>
                    <label class="col-sm-1 col-form-label text-nowrap" >เงินเดือน:</label>
                    <div class="col-sm-2">
                      <input form ="realform" type="text" class="form-control" disabled name="salaryMom">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-1 col-form-label text-nowrap" style="margin-right:25px" >สถานที่ทำงาน:</label>
                    <div class="col-sm-5">
                      <input form ="realform" type="text" class="form-control" disabled name="workplaceNameMom">
                    </div>
                    <label class="col-sm-2 col-form-label text-nowrap" > เบอร์โทร ที่ทำงาน:</label>
                    <div class="col-sm-2">
                      <input form ="realform" type="tel" class="form-control" disabled name="workplaceTelMom">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-form-label text-nowrap col-sm-1">สัญชาติ:</label>
                    <div class="col-sm-2">
                        <input form ="realform" class="form-control" disabled name="nationalityMom">
                    </div>
                    <label class="col-form-label text-nowrap col-sm-1" style="padding-right:1px">เชื้อชาติ:</label>
                    <div class="col-sm-2">
                        <input form ="realform" class="form-control" disabled name="raceMom">
                    </div>
                    <label class="col-form-label text-nowrap col-sm-1"  >ศาสนา:</label>
                    <div class="col-sm-2">
                        <input form ="realform" class="form-control" disabled name="religionMom">
                    </div>
                  </div>
                </form>

                <button class="btn" style="width:auto;margin-top:5px;margin-bottom:5px" type ="button" data-toggle="collapse" data-target="#addressRegisMom">
                  <label>ที่อยู่ตามทะเบียน</label>
                </button>
                <div class="card">
                <div id="addressRegisMom" class="collapse show">
                  <div class="card-body">
                    <form class="form-in " style="background-color:#F7F7F7">
                      <div class="form-group row" style="margin-left:auto">
                        <div class="col-1-sm col-form-label text-nowrap">
                          <input id="cboxm" form ="realform" type="checkbox" style="margin-right:7px" onclick="copym()">
                        </div>
                        <div class="col-5-sm" style="padding-left:10px;padding-right:10px;padding-top:5px">ที่อยู่เหมือนนักศึกษา</div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-nowrap" >บ้านเลขที่:</label>
                        <div class="col-sm-2">
                            <input id="nhm" form ="realform" type="text" class="form-control" disabled name="homeNOMom">
                        </div>
                        <label class="col-sm-1 col-form-label text-nowrap" >ซอย:</label>
                        <div class="col-sm-3">
                            <input id="sm" form ="realform" type="text" class="form-control" disabled name="alleyMom">
                        </div>
                        <label class="col-sm-1 col-form-label text-nowrap" >ถนน:</label>
                        <div class="col-sm-3">
                            <input id="rm" form ="realform" type="text" class="form-control" disabled name="streetMom">
                        </div>
                        <label class="col-sm-2 col-form-label text-nowrap" >แขวง/ตำบล:</label>
                        <div class="col-sm-2">
                            <input id="pm" form ="realform" type="text" class="form-control" disabled name="subdistrictMom">
                        </div>
                        <label class="col-sm-2 col-form-label text-nowrap" >เขต/อำเภอ:</label>
                        <div class="col-sm-2">
                            <input id="am" form ="realform" type="text" class="form-control" disabled name="districtMom">
                        </div>
                        <label class="col-sm-1 col-form-label text-nowrap" >จังหวัด:</label>
                        <div class="col-sm-3">
                            <input id="jm" form ="realform" type="text" class="form-control" disabled name="provienceMom">
                        </div>
                        <label class="col-sm-2 col-form-label text-nowrap" >รหัสไปรษณีย์:</label>
                        <div class="col-sm-2">
                            <input id="pcm" form ="realform" type="text" class="form-control" disabled name="postcodeMom">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-secondary" style="width:auto;margin-bottom:1px;margin-top:5px" type ="button" data-toggle="collapse" data-target="#regisPar">
        <label>ข้อมูลผู้ปกครอง</label>
      </button>
      <div class="card">
        <div id="regisPar"class="collapse hide">
          <div class="card-body">
            <form class="form-in" style="background-color:#F7F7F7">
              <div class="form-group row">
                    <label class="col-sm-1 col-form-label text-nowrap" style="margin-right:30px" >คำนำหน้าชื่อ:</label>
                    <div class="col-sm-2">
                      <select form="realform" disabled class="form-control" name="titlenameParent">
                        <option value="นาย">นาย</option>
                        <option value="นาง">นาง</option>
                        <option value="นางสาว">นางสาว</option>
                      </select>
                    </div>
                  </div>
                      <div class="form-group row">
                        <label class="col-sm-1 col-form-label text-nowrap" >ชื่อ:</label>
                        <div class="col-sm-4">
                          <input form ="realform" type="text" class="form-control" disabled name="firstnameParent">
                        </div>
                        <label class="col-sm-1 col-form-label text-nowrap" >นามสกุล:</label>
                        <div class="col-sm-5">
                          <input form ="realform" type="text" class="form-control" disabled name="lastnameParent">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-nowrap" >รหัสบัตรประชาชน:</label>
                        <div class="col-sm-3">
                          <input form ="realform" type="text" class="form-control" disabled name="citizenIDParent">
                        </div>
                        <label class="col-sm-1 col-form-label text-nowrap" >อีเมลล์:</label>
                        <div class="col-sm-5">
                          <input form ="realform" type="email" class="form-control" disabled name="emailParent">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-nowrap" >เบอร์โทรศัพท์มือถือ:</label>
                        <div class="col-sm-2">
                          <input form ="realform" type="tel" class="form-control" disabled name="telParent">
                        </div>
                        <label class="col-form-label text-nowrap col-sm-2" for="date" >วัน/เดือน/ปี เกิด:</label>
                        <div class="col-sm-2">
                            <input form ="realform" class="form-control" name="dateParent" disabled type="text">
                        </div>
                        <label class="col-sm-1 col-form-label text-nowrap" style="margin-right:8px">สถาณภาพ:</label>
                        <div class="col-sm-2">
                          <select form="realform"  class="form-control" disabled name="statusParent">
                            <option value="มีชีวิต">มีชีวิต</option><option value="เสียชีวิต">เสียชีวิต</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-1 col-form-label text-nowrap" >อาชีพ:</label>
                        <div class="col-sm-3">
                          <input form ="realform" type="text" class="form-control" disabled name="careerParent">
                        </div>
                        <label class="col-sm-1 col-form-label text-nowrap" >ตำแหน่ง:</label>
                        <div class="col-sm-3">
                          <input form ="realform" type="text" class="form-control" disabled name="careerPosParent">
                        </div>
                        <label class="col-sm-1 col-form-label text-nowrap" >เงินเดือน:</label>
                        <div class="col-sm-2">
                          <input form ="realform" type="text" class="form-control" disabled name="salaryParent">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-1 col-form-label text-nowrap" style="margin-right:25px" >สถานที่ทำงาน:</label>
                        <div class="col-sm-5">
                          <input form ="realform" type="text" class="form-control" disabled name="workplaceNameParent">
                        </div>
                        <label class="col-sm-2 col-form-label text-nowrap" > เบอร์โทร ที่ทำงาน:</label>
                        <div class="col-sm-2">
                          <input form ="realform" type="tel" class="form-control" disabled name="workplaceTelParent">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-form-label text-nowrap col-sm-1">สัญชาติ:</label>
                        <div class="col-sm-2">
                            <input form ="realform" class="form-control" disabled name="nationalityParent">
                        </div>
                        <label class="col-form-label text-nowrap col-sm-1" style="padding-right:1px">เชื้อชาติ:</label>
                        <div class="col-sm-2">
                            <input form ="realform" class="form-control" disabled name="raceParent">
                        </div>
                        <label class="col-form-label text-nowrap col-sm-1"  >ศาสนา:</label>
                        <div class="col-sm-2">
                            <input form ="realform" class="form-control" disabled name="religionParent">
                        </div>
                      </div>
                    </form>
                    <button class="btn" style="width:auto;margin-top:5px;margin-bottom:5px" type ="button" data-toggle="collapse" data-target="#addressRegisParent">
                      <label>ที่อยู่ตามทะเบียน</label>
                    </button>
                    <div class="card">
                    <div id="addressRegisParent" class="collapse show">
                      <div class="card-body">
                        <form class="form-in " style="background-color:#F7F7F7">
                          <div class="form-group row" style="margin-left:auto">
                            <div class="col-1-sm col-form-label text-nowrap">
                              <input id="cboxp" form ="realform" type="checkbox" style="margin-right:7px" onclick="copyp()">
                            </div>
                            <div class="col-5-sm" style="padding-left:10px;padding-right:10px;padding-top:5px">ที่อยู่เหมือนนักศึกษา</div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-nowrap" >บ้านเลขที่:</label>
                            <div class="col-sm-2">
                                <input id="nhp" form ="realform" type="text" class="form-control" disabled name="homeNOParent">
                            </div>
                            <label class="col-sm-1 col-form-label text-nowrap" >ซอย:</label>
                            <div class="col-sm-3">
                                <input id="sp" form ="realform" type="text" class="form-control" disabled name="alleyParent">
                            </div>
                            <label class="col-sm-1 col-form-label text-nowrap" >ถนน:</label>
                            <div class="col-sm-3">
                                <input id="rp" form ="realform" type="text" class="form-control" disabled name="streetParent">
                            </div>
                            <label class="col-sm-2 col-form-label text-nowrap" >แขวง/ตำบล:</label>
                            <div class="col-sm-2">
                                <input id="pp" form ="realform" type="text" class="form-control" disabled name="subdistrictParent">
                            </div>
                            <label class="col-sm-2 col-form-label text-nowrap" >เขต/อำเภอ:</label>
                            <div class="col-sm-2">
                                <input id="ap"form ="realform" type="text" class="form-control" disabled name="districtParent">
                            </div>
                            <label class="col-sm-1 col-form-label text-nowrap" >จังหวัด:</label>
                            <div class="col-sm-3">
                                <input id="jp" form ="realform" type="text" class="form-control" disabled name="provienceParent">
                            </div>
                            <label class="col-sm-2 col-form-label text-nowrap" >รหัสไปรษณีย์:</label>
                            <div class="col-sm-2">
                                <input id="pcp" form ="realform" type="text" class="form-control" disabled name="postcodeParent">
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </div>
      </form>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
      <script>
      function changecommand()
      {
        document.getElementById('btn2').style.visibility = "visible";
        for(var i =0;i<38;i++)
        {document.getElementsByTagName('input')[i].disabled = false;}
        for(var j =0;j<9;j++)
        {document.getElementsByTagName('select')[j].disabled = false;}
      }
      function changecommand2()
      {
        document.getElementById('btn2').style.visibility = "hidden";
        for(var i =0;i<38;i++)
        {document.getElementsByTagName('input')[i].disabled = true;}
        for(var j =0;j<9;j++)
        {document.getElementsByTagName('select')[j].disabled = true;}
      }
      </script>
    </div>
    </form>
    <div class="col-1"></div>
  </div>
</div>
<% include ./partials/footer %>
