<% include ./partials/header %>

<div class="container text-align-center" style="margin-top: 3%">
        <div class="row align-center">
          <div class="col-sm">
            <% stdList.forEach(function(user){ %>
            <button type="button" class="btn" data-toggle="collapse" data-target="#stdID"><%= user.subject +' - '+ user.subjectName+' SEC '+ user.subjectSec %></button>
              <div id="stdID" class="card card-body collapse show">
                <div class="row-sm">
                  <label><%= user.titlename +'  '+ user.firstname +'  '+ user.lastname %></label>
                </div>
                <table class=" table table-striped table-bordered table-light collapse show ">
                  <thead style="background-color:#AEAEAE;border-color:black">
                      
                    <tr >
                      <th scope="col">รหัสนักศึกษา</th>
                      <th scope="col">ชื่อ</th>
                      <th scope="col">นามสกุล</th>
                    </tr>
                  </thead>
                  <tbody>
                      
                    <tr>
                      <td><%= user.stdID %></td>
                      <td><%= user.firstnameTH %></td>
                      <td><%= user.lastnameTH %></td>
                    </tr>
                    
                  </tbody>
                </table>
                <!--<div class="card-head">
                  <button id="addRow"type="button" class="btn btn-primary" onclick="">+</button>
                  <button id="delRow"type="button" class="btn btn-primary" onclick="">-</button>
                </div>-->
              </div>
              <% }); %>
          </div>
        </div>
      </div>

<% include ./partials/footer %>
