<% include ./partials/header %>
<h1>ตารางสอน</h1>
<div class="container body-center">
    <div class="row align-center">
      <div class="col-sm">
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr >
              <th scope="col">วัน</th>
              <th scope="col">เวลา</th>
              <th scope="col">รายวิชา</th>
              <th scope="col">ห้องสอน</th>
              <th scope="col">section</th>
            </tr>
          </thead>
          <% mon.forEach(function(user){ %>
            <tbody>
                <tr class="table-light">
                  <td>จันทร์</td>
                  <td><%= user.timeStart +' - '+user.timeEnd %></td>
                  <td><%= user.subject+' - '+user.subjectName %></td>
                  <td><%= user.room %></td>
                  <td><%= user.section %></td>
                </tr>
              </tbody>
          <% }); %>

          <% tue.forEach(function(user){ %>
            <tbody>
                <tr class="table-light">
                  <td>อังคาร</td>
                  <td><%= user.timeStart +' - '+user.timeEnd %></td>
                  <td><%= user.subject+' - '+user.subjectName %></td>
                  <td><%= user.room %></td>
                  <td><%= user.section %></td>
                </tr>
              </tbody>
          <% }); %>

          <% wed.forEach(function(user){ %>
            <tbody>
                <tr class="table-light">
                  <td>พุธ</td>
                  <td><%= user.timeStart +' - '+user.timeEnd %></td>
                  <td><%= user.subject+' - '+user.subjectName %></td>
                  <td><%= user.room %></td>
                  <td><%= user.section %></td>
                </tr>
              </tbody>
          <% }); %>

          <% thu.forEach(function(user){ %>
            <tbody>
                <tr class="table-light">
                  <td>พฤหัสบดี</td>
                  <td><%= user.timeStart +' - '+user.timeEnd %></td>
                  <td><%= user.subject+' - '+user.subjectName %></td>
                  <td><%= user.room %></td>
                  <td><%= user.section %></td>
                </tr>
              </tbody>
          <% }); %>

          <% fri.forEach(function(user){ %>
            <tbody>
                <tr class="table-light">
                  <td>ศุกร์</td>
                  <td><%= user.timeStart +' - '+user.timeEnd %></td>
                  <td><%= user.subject+' - '+user.subjectName %></td>
                  <td><%= user.room %></td>
                  <td><%= user.section %></td>
                </tr>
              </tbody>
          <% }); %>

          <% sat.forEach(function(user){ %>
            <tbody>
                <tr class="table-light">
                  <td>เสาร์</td>
                  <td><%= user.timeStart +' - '+user.timeEnd %></td>
                  <td><%= user.subject+' - '+user.subjectName %></td>
                  <td><%= user.room %></td>
                  <td><%= user.section %></td>
                </tr>
              </tbody>
          <% }); %>

          <% sun.forEach(function(user){ %>
            <tbody>
                <tr class="table-light">
                  <td>อาทิตย์</td>
                  <td><%= user.timeStart +' - '+user.timeEnd %></td>
                  <td><%= user.subject+' - '+user.subjectName %></td>
                  <td><%= user.room %></td>
                  <td><%= user.section %></td>
                </tr>
              </tbody>
          <% }); %>
        </table>
      </div>
    </div>
  </div>
<% include ./partials/footer %>